src/main/mule/order-rules-engine-sys.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="929d0b36-2cf6-44a0-8ebf-a3958c75980a" >
		<http:listener-connection host="${api.host}" port="${http.port}" />
	</http:listener-config>
	<flow name="api-main" doc:id="61375e1f-4663-49cc-8969-c70b0c4a33a6" >
		<http:listener doc:name="Listener" doc:id="9d475a37-b345-4524-adb0-6902cb5ea683" path="/salesOrderTranslation" config-ref="HTTP_Listener_config">
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-variable value="#[attributes.queryParams.sourceSystemName]" doc:name="set source system name" doc:id="39e55d4a-6522-413d-a0f6-f0922262bcb5" variableName="SourceSystemName"/>
		<ee:transform doc:name="get source system code" doc:id="2d00d7f6-e563-4259-b0a3-a4f622df3173">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from dw::Runtime
---
{
	sourceSystemCode: if (vars.SourceSystemName == "ecommerce") 1234 else if (vars.SourceSystemName == "ABCD") 2345 else fail ('There is no matching Source System Name') 
	//sourceSystemCode: payload.SourceSystemCode[0]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="response" doc:id="0d408660-4258-4bef-a320-5260759da8f3" message="response"/>
		<error-handler ref="error-handler" />
	</flow>
	<sub-flow name="order-rules-engine-sysSub_Flow" doc:id="96d7e598-2cd5-47e7-9a51-aacc742a4f05" >
		<db:select doc:name="get source system code" doc:id="4a5805b1-3d52-4bc7-a514-ba431ecf913b" config-ref="order-translation-db-config">
			<db:sql><![CDATA[SELECT SourceSystemCode FROM SourceSystem where SourceSystemName = :sourceSystemName]]></db:sql>
			<db:input-parameters><![CDATA[#[{'sourceSystemName' : vars.SourceSystemName}]]]></db:input-parameters>
		</db:select>
	</sub-flow>
</mule>
